.calendar td {
    padding: 0;
}
.calendar td a, .calendar td span {
    display: block;
    width: 100%;
    padding: 12px;
}
.calendar td a:hover {
    background-color: #efefef;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mt-2 {
    margin-top: 1.5rem;
}
.mb-2 {
    margin-bottom: 1.5rem;
}